petascope/xml/ogc/wcs/2.0.0/sweCommon/2.0/advanced_encodings.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/swe/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>SWE Common Data Model schema for specifying parameters of advanced encoding methods (Raw Binary, Base64 Binary, Compressed Binary)</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="simple_encodings.xsd"/><!-- ================================================= -->
    <element name="BinaryEncoding" substitutionGroup="swe:AbstractEncoding" type="swe:BinaryEncodingType"/>
    <complexType name="BinaryEncodingType">
        <complexContent>
            <extension base="swe:AbstractEncodingType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="member">
                        <complexType>
                            <sequence>
                                <group ref="swe:ComponentOrBlock"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
                <attribute name="byteOrder" type="swe:ByteOrderType" use="required"/>
                <attribute name="byteEncoding" type="swe:ByteEncodingType" use="required"/>
                <attribute name="byteLength" type="integer" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BinaryEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:BinaryEncoding"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="BinaryEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:BinaryEncoding"/>
        </sequence>
    </complexType><!-- ================================================= -->
    <element name="Block" substitutionGroup="gml:AbstractObject" type="swe:BlockType"/>
    <complexType name="BlockType">
        <sequence/>
        <attribute name="compression" type="anyURI" use="optional"/>
        <attribute name="encryption" type="anyURI" use="optional"/>
        <attribute name="paddingBytes-after" type="integer" use="optional"/>
        <attribute name="paddingBytes-before" type="integer" use="optional"/>
        <attribute name="byteLength" type="integer" use="optional"/>
        <attribute name="ref" type="string" use="required"/>
        <attribute ref="gml:id" use="optional"/>
    </complexType>
    <complexType name="BlockPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Block"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType><!-- ================================================= -->
    <element name="Component" substitutionGroup="gml:AbstractObject" type="swe:ComponentType"/>
    <complexType name="ComponentType">
        <sequence/>
        <attribute name="encryption" type="anyURI" use="optional"/>
        <attribute name="significantBits" type="integer" use="optional"/>
        <attribute name="bitLength" type="integer" use="optional"/>
        <attribute name="byteLength" type="integer" use="optional"/>
        <attribute name="dataType" type="anyURI" use="required"/>
        <attribute name="ref" type="string" use="required"/>
        <attribute ref="gml:id" use="optional"/>
    </complexType>
    <complexType name="ComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Component"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType><!-- ================================================= -->
    <group name="ComponentOrBlock">
        <choice>
            <element ref="swe:Component"/>
            <element ref="swe:Block"/>
        </choice>
    </group>
    <complexType name="ComponentOrBlockPropertyType">
        <sequence minOccurs="0">
            <group ref="swe:ComponentOrBlock"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="ByteEncodingType">
        <restriction base="string">
            <enumeration value="base64"/>
            <enumeration value="raw"/>
        </restriction>
    </simpleType>
    <simpleType name="ByteOrderType">
        <restriction base="string">
            <enumeration value="bigEndian"/>
            <enumeration value="littleEndian"/>
        </restriction>
    </simpleType>
</schema>