petascope/xml/ogc/wcs/2.0.0/sweCommon/2.0/simple_encodings.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/swe/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>SWE Common Data Model schema for specifying parameters of simple encoding methods (Text, XML)</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="basic_types.xsd"/><!-- ================================================= -->
    <element abstract="true" name="AbstractEncoding" substitutionGroup="swe:AbstractSWE" type="swe:AbstractEncodingType"/>
    <complexType abstract="true" name="AbstractEncodingType">
        <complexContent>
            <extension base="swe:AbstractSWEType"/>
        </complexContent>
    </complexType>
    <complexType name="AbstractEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AbstractEncoding"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType abstract="true" name="AbstractEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:AbstractEncoding"/>
        </sequence>
    </complexType><!-- ================================================= -->
    <element name="XMLEncoding" substitutionGroup="swe:AbstractEncoding" type="swe:XMLEncodingType"/>
    <complexType name="XMLEncodingType">
        <complexContent>
            <extension base="swe:AbstractEncodingType">
                <attribute name="defaultNamespace" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="XMLEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:XMLEncoding"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="XMLEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:XMLEncoding"/>
        </sequence>
    </complexType><!-- ================================================= -->
    <element name="TextEncoding" substitutionGroup="swe:AbstractEncoding" type="swe:TextEncodingType"/>
    <complexType name="TextEncodingType">
        <complexContent>
            <extension base="swe:AbstractEncodingType">
                <attribute default="true" name="collapseWhiteSpaces" type="boolean" use="optional"/>
                <attribute default="." name="decimalSeparator" type="string" use="optional"/>
                <attribute name="tokenSeparator" type="string" use="required"/>
                <attribute name="blockSeparator" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TextEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:TextEncoding"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="TextEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:TextEncoding"/>
        </sequence>
    </complexType>
</schema>