petascope/src/petascope/wcs2/schemas/gml/wcsGrids.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/wcs/2.0/gml" 
    xmlns:gmlwcs="http://www.opengis.net/wcs/2.0/gml" 
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" version="1.0.0" xml:lang="en">
    <annotation>
        <appinfo>wcsGrids.xsd</appinfo>
        <documentation>This XML Schema Document encodes extensions to GML 3.2.1 for grids that are referenced by a Transformation, named "ReferencedGridByTransformation". This document also extends the alternatives allowed in gml:ParameterValueType as expected to be needed by such Transformations.
        Last updated: 2010-jan-11
        Copyright (c) 2010 Open Geospatial Consortium, Inc. All Rights Reserved.
            To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
        </documentation>
    </annotation>
    <!-- ============================================================== -->
    <!-- Includes and imports                                           -->
    <!-- ============================================================== -->
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <!-- ============================================================== -->
    <!-- Elements and types                                             -->
    <!-- ============================================================== -->
    <element name="AbstractReferenceableGrid" type="gmlwcs:AbstractReferenceableGridType" abstract="true" substitutionGroup="gml:Grid">
        <annotation>
            <documentation>AbstractReferenceableGrid is an encoding of CV_ReferenceableGrid in ISO 19123. AbstractReferenceableGrid is the head of a substitution group that may include multiple concrete implementations.

A referenceable grid is a grid associated with a transformation that can be used to convert grid coordinate values to values of coordinates referenced to an external coordinate reference system [ISO 19123]. The transformation between grid coordinates and ‘external’ coordinates is usually non-affine, and may take different forms. It may be described analytically (e.g., through parametrised mathematical image rectification models); or it may provided in a table, for instance, relating the grid points to coordinates in the external coordinate reference system [ISO 19123, §8.2.1].

The inherited attribute group gml:SRSReferenceGroup shall link the referenceable grid to the internal coordinate reference system of the grid.
            </documentation>
            <documentation>This element and its type are copied from approved Change Request 07-112r3, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="AbstractReferenceableGridType" abstract="true">
        <complexContent>
            <extension base="gml:GridType"/>
        </complexContent>
    </complexType>
    <!-- =========================================================== -->
    <element name="referenceableGridProperty" type="gmlwcs:ReferenceableGridPropertyType">
        <annotation>
            <documentation>This element and its type are copied from approved Change Request 07-112r3, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="ReferenceableGridPropertyType">
        <sequence>
            <element ref="gmlwcs:AbstractReferenceableGrid"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- =========================================================== -->
    <element name="ReferencedGridByTransformation" type="gmlwcs:ReferencedGridByTransformationType" substitutionGroup="gmlwcs:AbstractReferenceableGrid">
        <annotation>
            <documentation>ReferencedGridByTransformation encodes one type of CV_ReferenceableGrid as defined in ISO 19123, using a gml:Transformation or gml:ConcatenatedOperation to specify the relationship between positions in the grid and corresponding positions in another CRS. This encoding also generalises CV_ReferenceableGrid to allow including more than one referencing Transformation. </documentation>
            <documentation>This element and its type are copied from Change Request 09-091r1, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="ReferencedGridByTransformationType">
        <complexContent>
            <extension base="gmlwcs:AbstractReferenceableGridType">
                <sequence>
                    <element ref="gmlwcs:gridCRS" minOccurs="0">
                        <annotation>
                            <documentation>The gridCRS is a composition association to the definition of the internal CRS for this extended gml:Grid. This definition shall be the one referenced by the gml:srsName attribute in the gml:GridType. This CRS definition shall be included here if its definition is needed by some data receivers and is not otherwise available using that gml:srsName value. </documentation>
                        </annotation>
                    </element>
                    <choice maxOccurs="unbounded">
                        <annotation>
                            <documentation>This choice encodes an unordered list of associations to coordinate Transformations or Concatenated Operations that each (geo)reference this ReferenceableGrid. Each of these Transformations or Concatenated Operations shall reference the internal CRS for this extended gml:Grid, as either its sourceCRS or targetCRS. This transformation association may be repeated when this ReferencedGridByTransformation is referenced to more than one other CRS, and/or is referenced to the same other CRS by multiple Transformation versions. </documentation>
                        </annotation>
                        <element name="transformation" type="gml:TransformationPropertyType"/>
                        <element name="concatenatedOperation" type="gml:ConcatenatedOperationPropertyType"/>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- =========================================================== -->
    <element name="gridCRS" type="gmlwcs:GridCRSPropertyType">
        <annotation>
            <documentation>The gridCRS is a composition association to the definition of the internal CRS for this extended gml:Grid. This internal CRS may be a DerivedCRS, EngineeringCRS, ImageCRS, or CompoundCRS. However, proposed OGC Best Practices Paper 09-085r1 recommends that this internal CRS always be a DerivedCRS. </documentation>
            <documentation>This element and its type are copied from  Change Request 09-091r1, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="GridCRSPropertyType">
        <sequence>
            <element ref="gml:AbstractCRS"/>
        </sequence>
    </complexType>
    <!-- =========================================================== -->
    <!-- =========================================================== -->
    <element name="ParameterValue" type="gmlwcs:ParameterValueType" substitutionGroup="gml:AbstractGeneralParameterValue">
        <annotation>
            <documentation>Extends gml:ParameterValue to also allow values that are a gml:Geometry or a gml:vector. </documentation>
            <documentation>This element and its type are copied from  Change Request 09-091r1, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="ParameterValueType">
        <complexContent>
            <extension base="gml:AbstractGeneralParameterValueType">
                <sequence>
                    <choice>
                        <element ref="gml:value"/>
                        <element ref="gml:dmsAngleValue"/>
                        <element ref="gml:stringValue"/>
                        <element ref="gml:integerValue"/>
                        <element ref="gml:booleanValue"/>
                        <element ref="gml:valueList"/>
                        <element ref="gml:integerValueList"/>
                        <element ref="gml:valueFile"/>
                        <element ref="gmlwcs:geometryValue"/>
                        <element ref="gmlwcs:vectorValue"/>
                    </choice>
                    <element ref="gml:operationParameter"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- =========================================================== -->
    <element name="geometryValue" type="gml:GeometryPropertyType">
        <annotation>
            <documentation>A geometry used as a coordinate operation parameter value, which contains any type of geometry element, with a reference to its associated coordinate reference system. </documentation>
            <documentation>This element and its type are copied from  Change Request 09-091r1, which adds them to GML 3.2.1. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <element name="vectorValue" type="gml:VectorType">
        <annotation>
            <documentation>Vector value of a coordinate operation parameter. A vectorValue can represent a distance in a direction (when the magnitude of the vector is significant) or just a direction (when the magnitude of the vector is not considered significant). This vectorValue shall use the coordinate axes directions and units of the coordinate system in the referenced coordinate reference system. This coordinate reference system will often be the same as referenced by an associated geometryValue coordinate operation parameter. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <!-- =========================================================== -->
    <element name="SimpleMultiPoint" type="gmlwcs:SimpleMultiPointType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>gml:SimpleMultiPoint implements, and provides a simplified encoding for, ISO 19107 GM_MultiPoint (see ISO 19107:2003, 6.5.4). A gml:SimpleMultiPoint consists of a list of DirectPositions. </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <complexType name="SimpleMultiPointType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element name="positions" type="gml:DirectPositionListType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- =========================================================== -->
</schema>
